
/* RGB */
/* Coolors Exported Palette - coolors.co/eaf0ce-c0c5c1-7d8491-574b60-3f334d */
$color1: rgba(234, 240, 206, 1);
$color2: rgba(192, 197, 193, 1);
$color3: rgba(125, 132, 145, 1);
$color4: rgba(87, 75, 96, 1);
$color5: rgba(63, 51, 77, 1);

